.has-icon {
    display: inline-flex;
    align-items: center;
}
.icon {
    width: 1.25em;
}

.m0 {
    margin: 0;
}

.ml0 {
    margin-left: 0;
}

.ml1 {
    margin-left: 0.25rem;
}

.ml2 {
    margin-left: 0.5rem;
}

.ml3 {
    margin-left: 1rem;
}

.mr0 {
    margin-right: 0;
}

.mr1 {
    margin-right: 0.25rem;
}

.mr2 {
    margin-right: 0.5rem;
}

.mr3 {
    margin-right: 1rem;
}

.sml {
    font-size: 0.88em;
}

.main {
    padding: 1px;
    min-height: 100vh;
}

.fr {
    float: right;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (min-width: 768px) {
    .lg-fr {
        float: right;
    }
    .lg-dn {
        display: none;
    }
    .lg-db {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .sm-dn {
        display: none;
    }
    .sm-m0 {
        margin: 0;
    }
    .sm-db {
        display: block;
    }
}
