.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.app-logo {
    height: 100px;
    pointer-events: none;
}

.app-home {
    margin: 0;
    padding: 0 1.6em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(11px + 1vmin);
    background-color: #282c34;
    color: white;
    p {
        font-family: Judson, sans-serif;
        // text-align: left;
    }
    .search-wrap {
        max-width: 970px;
    }
}

@media screen and (min-width: 768px) {
    .lg-dn {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .sm-dn {
        display: none;
    }
}
